---
layout: archive
title: "Research Experience"
permalink: /research-experience/
author_profile: true
---

{% include base_path %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-60BK2NB0VL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-60BK2NB0VL');
</script>

{% for post in site.research-experience reversed %}
{% include archive-single-experience.html %}
{% endfor %}